// ביטול הריווח של PrimeNG כדי שהתמונה תיצמד לקצוות
:host ::ng-deep .p-card-header {
    padding: 0 !important;
    margin: 0 !important;
}

// הגדרות התמונה
.card-image {
    width: 100%;
    height: 180px; 
    object-fit: cover; // מכסה הכל בלי להתעוות
    display: block;
}

// הבטחת גובה אחיד בתוך הכרטיס
:host ::ng-deep .p-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}